/* style.css */
body {
    font-family: sans-serif;
    color: #17252A; /* Negro Azulado Oscuro */
}

header .navbar-brand {
    color: #DEF2F1 !important; /* Blanco Roto Azulado Claro */
    font-weight: bold;
}

header .nav-link {
    color: #DEF2F1 !important; /* Blanco Roto Azulado Claro */
    margin-left: 15px;
}

header .nav-link:hover {
    color: #3AAFA9 !important; /* Verde Azulado Brillante */
}

.hero-section {
    background-color: #DEF2F1; /* Blanco Roto Azulado Claro */
}

.btn-primary {
    background-color: #2B7A78; /* Verde Azulado Oscuro Apagado */
    border-color: #2B7A78;
    color: #FEFFFF; /* Blanco Puro */
}

.btn-primary:hover {
    background-color: #3AAFA9; /* Verde Azulado Brillante */
    border-color: #3AAFA9;
}

.btn-outline-primary {
    color: #2B7A78; /* Verde Azulado Oscuro Apagado */
    border-color: #2B7A78;
}

.btn-outline-primary:hover {
    background-color: #2B7A78;
    border-color: #2B7A78;
    color: #FEFFFF; /* Blanco Puro */
}

.bg-light {
    background-color: #DEF2F1 !important; /* Blanco Roto Azulado Claro */
}

.card {
    border: 1px solid #ced4da;
}

footer {
    background-color: #304d58 !important; /* Negro Azulado Oscuro */
    color: #DEF2F1 !important; /* Blanco Roto Azulado Claro */
}

footer a {
    color: #DEF2F1 !important; /* Blanco Roto Azulado Claro */
    text-decoration: none;
}

footer a:hover {
    color: #3AAFA9 !important; /* Verde Azulado Brillante */
}